<a href="https://colab.research.google.com/github/Shylu2005/T-P-2/blob/main/11-12-2025%20EVENING%20SESSION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
#afternoon session
#Loops

In [21]:
for i in range(2,51,2):
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [18]:
for i in range(100,1100,100):
  print(i)

100
200
300
400
500
600
700
800
900
1000

In [24]:
for i in range(1,100):
  if(i%10==2):
    print(i)

2
12
22
32
42
52
62
72
82
92

In [25]:
for i in range(1,1000):
  if(i%10==2):
    print(i)

2
12
22
32
42
52
62
72
82
92
102
112
122
132
142
152
162
172
182
192
202
212
222
232
242
252
262
272
282
292
302
312
322
332
342
352
362
372
382
392
402
412
422
432
442
452
462
472
482
492
502
512
522
532
542
552
562
572
582
592
602
612
622
632
642
652
662
672
682
692
702
712
722
732
742
752
762
772
782
792
802
812
822
832
842
852
862
872
882
892
902
912
922
932
942
952
962
972
982
992

In [30]:
for i in range(1,100,2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [34]:
a =int(input(""))
for i in range(1,21):
  print(a, "x", i, "=",a * i)

15
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150
15 x 11 = 165
15 x 12 = 180
15 x 13 = 195
15 x 14 = 210
15 x 15 = 225
15 x 16 = 240
15 x 17 = 255
15 x 18 = 270
15 x 19 = 285
15 x 20 = 300

In [39]:
#power of an custom number
a =int(input(""))
for i in range(1):
  print(a*a)

25
625

In [40]:
#format
n=int(input(""))
s=n**2
print(f"{n}={s}")

5
5=25

In [70]:
#nested for loops
n=int(input())
for i in range(n):
  for j in range(i,-1,-1):
    print(j+1,end=" ")
  print()

6
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
6 5 4 3 2 1

In [43]:
n=int(input())
for i in range(n):
  print("i",i)
  for j in range(i,-1,-1):
    print("J:",j)
    print(j+1,end=" ")
    print("j+1",j)
  print()

5
i 0
J: 0
1 j+1 0

i 1
J: 1
2 j+1 1
J: 0
1 j+1 0

i 2
J: 2
3 j+1 2
J: 1
2 j+1 1
J: 0
1 j+1 0

i 3
J: 3
4 j+1 3
J: 2
3 j+1 2
J: 1
2 j+1 1
J: 0
1 j+1 0

i 4
J: 4
5 j+1 4
J: 3
4 j+1 3
J: 2
3 j+1 2
J: 1
2 j+1 1
J: 0
1 j+1 0

In [48]:
n=6
for i in range(n):
  print("Before enter i:",i)
  for j in range(i+1):
    print("j in nested loop:",j)
    print(j+1,end=" ")
  print("out of nested loop")

Before enter i: 0
j in nested loop: 0
1 out of nested loop
Before enter i: 1
j in nested loop: 0
1 j in nested loop: 1
2 out of nested loop
Before enter i: 2
j in nested loop: 0
1 j in nested loop: 1
2 j in nested loop: 2
3 out of nested loop
Before enter i: 3
j in nested loop: 0
1 j in nested loop: 1
2 j in nested loop: 2
3 j in nested loop: 3
4 out of nested loop
Before enter i: 4
j in nested loop: 0
1 j in nested loop: 1
2 j in nested loop: 2
3 j in nested loop: 3
4 j in nested loop: 4
5 out of nested loop
Before enter i: 5
j in nested loop: 0
1 j in nested loop: 1
2 j in nested loop: 2
3 j in nested loop: 3
4 j in nested loop: 4
5 j in nested loop: 5
6 out of nested loop

In [47]:
n=5
for i in range(n):
  for j in range(i+1):
    print(i+1,end=" ")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [58]:
rows=int(input("enter rows size for the pattern:"))
for i in range(1,rows+1):
  for j in range(rows - i):
    print(" ",end=" ")
  for k in range(1,2*i):
    print("*",end=" ")
  print()

enter rows size for the pattern:5
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [59]:
rows=int(input("enter rows size for the pattern:"))
for i in range(rows,0,-1):
  for j in range(rows - i):
    print(" ",end=" ")
  for k in range(1,2*i):
    print("*",end=" ")
  print()

enter rows size for the pattern:5
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [68]:
#Upper part
rows=int(input("enter rows size for the pattern:"))
for i in range(1,rows+1):
  for j in range(rows - i):
    print(" ",end=" ")
  for k in range(1,2*i):
    print("*",end=" ")
  print()
#Lower part
for i in range(rows-1,0,-1):
  for j in range(rows - i):
    print(" ",end=" ")
  for k in range(1,2*i):
    print("*",end=" ")
  print()

enter rows size for the pattern:6
          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
* * * * * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *