<a href="https://colab.research.google.com/github/Shylu2005/T-P-2/blob/main/12-12-2025%20EVENING%20SESSION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
#morning session lastt code
username="SR University"
p="1234"
if(username=="SR University" and p=="1234"):
  print("Login success")
elif(username=="SR University"and p!="1234"):
  print("INCORRECT password")
else:
  print("Login failed")

Login success

In [1]:
list=[10,"apple",1233,"SR University"]
print(list[1])

apple

In [2]:
list1=[1,2,3,4]
list2=[6,7,8]
list2.insert(2,5)
print(list1+list2)
list3=[1,2,3]
print(list3*2)
print(list3.sort())
print(sorted(list3))

[1, 2, 3, 4, 6, 7, 5, 8]
[1, 2, 3, 1, 2, 3]
None
[1, 2, 3]

In [3]:
#sort method
list=[1,2,3,2,4,1]
list.sort()
print(list)

[1, 1, 2, 2, 3, 4]

In [4]:
list=[1,2,3,2,4,1]
print("before sort:")
print(list)
print("after sort:")
list.sort()
print(sorted(list))

before sort:
[1, 2, 3, 2, 4, 1]
after sort:
[1, 1, 2, 2, 3, 4]

In [6]:
l1=["apple","abc","bana","goa","a","b"]
l1.sort()
print(l1)
print("apple" in l1)

['a', 'abc', 'apple', 'b', 'bana', 'goa']
True

In [5]:
l4=[12,34,531,543,55,4,1]
print(max(l4))
print(min(l4))
print(sum(l4))
l4.reverse()
print(l4)

543
1
1180
[1, 4, 55, 543, 531, 34, 12]

In [9]:
std=[]
num=int(input("Enter how many students need to add in list: "))
for i in range(num):
  std.append(int(input(f"Enter student id{i+1}:")))
  print(std)

Enter how many students need to add in list: 3
Enter student id1:1876
[1876]
Enter student id2:1975
[1876, 1975]
Enter student id3:1314
[1876, 1975, 1314]

In [15]:
l=[1,2,3,4]
max,min=l[0],l[0]
for i in range(1,len(l)):
  if max<l[i]:
    max=l[i]
  elif min>l[i]:
    min=l[i]
print(max,min)

4 1