<a href="https://colab.research.google.com/github/Shylu2005/T-P-2/blob/main/15-12-2025%20MORNING%20SESSION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
s={10,20,20,30}
print(s)
s2=set([])
print(s2)
#set method
l=[1,2,4,5,2,1]
dup=set(l)
print(dup)
print(list(dup))

{10, 20, 30}
set()
{1, 2, 4, 5}
[1, 2, 4, 5]

In [10]:
#s={1,2,3,[2,0]}
#print(s) #Type error
#we cant add list inside the set

In [16]:
s1={1,2,3}
s2={3,4,5}
print(s1|s2)
print(s1&s2)
print(s1.union(s2))
print(s1.intersection(s2))
print(s1-s2)
print(s1.difference(s2))
print(s1.issubset(s2))
print(s1.issuperset(s2))

{1, 2, 3, 4, 5}
{3}
{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2}
False
False

In [18]:
s1={1,2,3}
s1.update([10,20])
print(s1)

{1, 2, 3, 10, 20}

In [21]:
#WRP to print not duplicate elements inside the list
num=[1,2,3,4,1,2,100]
ndup=[]
for i in num:
  if num.count(i) == 1:
    ndup.append(i)
print(ndup)

[3, 4, 100]

In [22]:
s1={1,2,3,4}
s1.add(5)
print(s1)
#s1.remove(6)
s1.discard(6)
print(s1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [25]:
s=frozenset([1,2,3,4])
#s.add(10)  #attribute error
print(s)

frozenset({1, 2, 3, 4})

In [37]:
num=[1,2,3,4,1,2,100]
ndup=set()
seen=set()
for n in num:
  if n in seen:
    ndup.add(n)
  else:
    seen.add(n)
print(ndup)
print(seen)
print(seen-ndup)

{1, 2}
{1, 2, 3, 100, 4}
{3, 100, 4}

In [42]:
s1={1,2,3,4}
s2={5,4,3,2,1}
print(s1.union(s2))
print(s1&s2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4}

In [57]:
#remove vowels in string using set
s="shylasri"
v={'a','e','i','o','u','A','E','I','O','U'}

s1=set()
for ch in s:
  if ch not in v:
    s1.add(ch)
print(s1)

{'y', 's', 'l', 'r', 'h'}

In [58]:
n=int(input())
l=[]
for i in range(1,n+1):
  l.append(i*i)
print(l)

6
[1, 4, 9, 16, 25, 36]

In [60]:
s={"10","sru","11"}
print(s)
s.clear()
print(s)

{'11', '10', 'sru'}
set()

In [67]:
s1={1,2,3}
s2={1,3,2}
print(s1==s2)
print(s1 is s2)
for i in s1.copy():
  s1.add(4)
print(s1)

True
False
{1, 2, 3, 4}

In [68]:
s1={1,2,3}
s2={1,3,2}
print(s1==s2)
print(s1 is s2)
for i in s1.copy():
  if i == 10:
    s1.discard(i)
print(s1)

True
False
{1, 2, 3}

In [71]:
s1={1,2,3,10}
s2={1,3,2}
s3=set()
s4=set()
print(s3.isdisjoint(s4))
print(s1.symmetric_difference(s2))
print(s1.isdisjoint(s2))
print(s1.issubset(s2))
print(s1.issuperset(s2))
print(s1^s2)
s5=s1|s2
print(s5)

True
{10}
False
False
True
{10}
{1, 2, 3, 10}

In [77]:
s1={1,2,3,10}
s2={1,3,2,11}
print(s1.difference(s2))
print(s1)
print(s1.difference_update(s2))
print(s1)

{10}
{3, 1, 10, 2}
None
{10}

In [82]:
num=[1,2,3,5,6,7,8,10]
l=[]
for i in range(1,11):
  if i not in num:
    l.append(i)
print(l)

[4, 9]

In [83]:
nums=[1,2,3,5,6,7,8,10]
q=set(range(1,11))
print(q)
s=q-set(nums)
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{9, 4}

In [88]:
str="python is python not is python"
lis=str.split()
word=[]
print(set(lis))
for word in lis:
  if lis.count(word)==1:
    print(word)

{'not', 'python', 'is'}
not