<a href="https://colab.research.google.com/github/Shylu2005/T-P-2/blob/main/16-12-2025%20MORNING%20SESSION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
class student:
  def __init__(self, id,name):
    self.id = id
    self.name = name
s1 = student(10,"sr")
print(s1.id)
print(s1.name)
s2 = student(20, "college")
print(s2.id)
print(s2.name)

10
sr
20
college

In [13]:
class employee:
  def __init__(self,id,cname,salary):
    self.id = id
    self.cname = cname
    self.salary = salary
e1 = employee(10,"Amazon",200000)
print(e1.id)
print(e1.cname)
print(e1.salary)
e2 = employee(20,"Google",300000)
print(e2.id)
print(e2.cname)
print(e2.salary)

10
Amazon
200000
20
Google
300000

In [21]:
class Student:
  def __init__(self,id,name):
    self.id=id
    self.name=name
  def printData(self):
    print(f"Student id is {self.id} and Student Name is {self.name}")
s1 = Student(10,"sr")
s1.printData()
s2 = Student(20,"college")
s2.printData() #method

Student id is 10 and Student Name is sr
Student id is 20 and Student Name is college

In [17]:
class Calculater:
  def __init__(self,a,b):
    self.a=a
    self.b=b
  def add(self):
    print(f"Addition of {self.a} and {self.b} is {self.a+self.b}")
  def sub(self):
    print(f"Subtraction of {self.a} and {self.b} is {self.a-self.b}")
c1= Calculater(10,20)
c1.add()
c2=Calculater(100,200)
c2.sub()
c1.sub()
c2.add()

Addition of 10 and 20 is 30
Subtraction of 100 and 200 is -100
Subtraction of 10 and 20 is -10
Addition of 100 and 200 is 300

In [19]:
class Calculator:
    name="sr college"
    def __init__(self,a,b):
        self.a=a
        self.b=b
    def add(self):
        print(self.a+self.b)
    def sub(self):
        print(self.a-self.b)
    def mul(self):
        print(self.a*self.b)
    def div(self):
        print(self.a/self.b)
c1=Calculator(20,10)
c1.add()
c1.sub()
c1.mul()
c1.div()

30
10
200
2.0

In [22]:
class Calculator:
    num1=100 #fixed variable
    num2=200 #fixed variable
    @classmethod
    def add_ClassLevel(cls):
        print(cls.num1+cls.num2)
Calculator.add_ClassLevel()

300

In [27]:
class Employee:
    comp_name="vegaahi" #variable this belongs to class
    def set_Emp(self,id,name):
        self.empId=id
        self.empName=name
    def get_Emp(self):
        print(self.empId)
        print(self.empName)
        print(self.comp_name)
    @classmethod
    def rules(cls):
      print("company having strict rules")
e1=Employee()
e1.set_Emp(10,"Shiva")
e1.get_Emp()

e2=Employee()
e2.set_Emp(20,"Raj")
e2.get_Emp()

10
Shiva
vegaahi
20
Raj
vegaahi

In [26]:
class Calculator:
    num1=100 #fixed variable
    num2=200 #fixed variable
    @classmethod
    def add_ClassLevel(cls,a,b):
      cls.num1=a
      cls.num2=b
      print(cls.num1+cls.num2)
Calculator.add_ClassLevel(20,30)

50

In [38]:
class Employee:
    comp_name="vegaahi" #variable this belongs to class
    def set_Emp(self,id,name):
        self.empId=id
        self.empName=name
    def get_Emp(self):
        print(self.empId)
        print(self.empName)
        print(self.comp_name)

    @classmethod
    def compName(cls):
      print(cls.comp_name)

    @classmethod
    def updateComp(cls,newName):
      cls.comp_name=newName
      print(cls.comp_name)

    @staticmethod
    def rules():
      print("company rules......")

    @staticmethod
    def checkEligibleforhike(salary):
      if salary>200000:
        print("eligible for hike")
      else:
        print("not eligible for hike")

Employee.compName()
Employee.updateComp("It solutions")
Employee.rules()
Employee.checkEligibleforhike(300000)

vegaahi
It solutions
company rules......
eligible for hike

In [41]:
from types import MethodDescriptorType
class Student:
   class_name="Batch 07"
   def __init__(self,id,name,dept):
      self.id=id
      self.name=name
      self.dept=dept
   def printData(self):
      print(f"Student Id is {self.id}\nStudent name is {self.name}\nstudent dept is {self.dept}")
   @classmethod
   def updateCls(cls,newName):
        cls.class_name=newName
        print(cls.class_name)

s1=Student(1876,"shailu","CSE")
s1.printData()
Student.updateCls("Batch-01")

Student Id is 1876
Student name is shailu
student dept is CSE
Batch-01

In [46]:
class Student:
   class_name="Batch 07"
   def __init__(self,id,name,dept):
      self.id=id
      self.name=name
      self.dept=dept

   def printData(self):
      print(f"Student Id is {self.id}\nstudent name is {self.name}\nstudent dept is {self.dept} \nand class name is {self.class_name}")
   @classmethod
   def updateCls(cls,newName):
        cls.class_name=newName
   @staticmethod
   def fee():
       s=Student(1,"shailu","CSE")
       print(s.id)
Student.fee()

1

In [67]:
class Product:
  def __init__(self, id, name,expiry):
    self.id = id
    self.name = name
    self.__expiry = expiry

  def print(self):
    print(self.id, " ", self.name, " ")

  def setExpiry(self, expiry):
    self.__expiry = expiry

  def getExpiry(self):
    return self.__expiry

p = Product(1,"pizza","10-11-2026")
p.print()
print(p.getExpiry())
p.setExpiry("12345")
print(p.getExpiry())

1   pizza
10-11-2026
12345

In [70]:
class Bank:
    def __init__(self,name,branch,ifsc,balance):
        self.name=name
        self.branch=branch
        self.ifsc=ifsc
        self.__balance=balance
    def print(self):
        print(self.name," ",self.branch," ",self.ifsc)
    def setbalance(self,bal):
        self.__balance=bal
    def getbalance(self):
        return self.__balance
        print(self.__balance)
s=Bank("SBI","Hyd","SBIN00004172",876565)
s.print()
print(s.getbalance())

SBI   Hyd   SBIN00004172
876565