<a href="https://colab.research.google.com/github/Shylu2005/T-P-2/blob/main/17-12-2025%20MORNING%20SESSION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#Lambda
add = lambda x,y : x+y
print(add(10,20))

def add(x,y):
  return x+y
print(add(10,20))
string = lambda: "sr college"
print(string())

30
30
sr college

In [7]:
def voteCheck(age):
  if age<18:
    return "not eligible for vote"
  else:
    return "eligible for vote"
print(voteCheck(20))

eligible for vote

In [8]:
age = 10
result = "eligible" if (age<18) else "not eligible"
print(result)

eligible

In [9]:
def voteCheck(age):
  return "eligible" if (age<18) else "not eligible"
print(voteCheck(20))

not eligible

In [10]:
square = lambda x : x*x
print(square(10))

100

In [11]:
n=int(input())
square = lambda x: x*x
r =square(n)
print(r)

5
25

In [25]:
user_input = list(map(int, input().split()))
print(user_input)

10 20 30 40
[10, 20, 30, 40]

In [27]:
data = input().split()
arr = []
for i in data:
  arr.append(int(i))
print(arr)

10 20 30 40
[10, 20, 30, 40]

In [29]:
marks = [10,22,56,98,45]
print(marks)
update = list(map(lambda x: x+2, marks))
print(update)

[10, 22, 56, 98, 45]
[12, 24, 58, 100, 47]

In [44]:
names=['arun','amal','ravi','anitha','sneha','ajay']
result=list(filter(lambda x:x[0]=='a',names))
print(len(result))
print(result)

4
['arun', 'amal', 'anitha', 'ajay']

In [45]:
names=['arun','amal','ravi','anitha','sneha','ajay']
result=list(filter(lambda x:x.startswith('a'),names))
print(len(result))
print(result)

4
['arun', 'amal', 'anitha', 'ajay']

In [48]:
l=[1,2,3,4,5]
even=list(filter(lambda x:x%2==0,l))
odd=list(filter(lambda x:x%2!=0,l))
print(even)
print(odd)

[2, 4]
[1, 3, 5]

In [52]:
l=[1,2,3,4,5,2]
even=set(filter(lambda x:x%2==0,l))
odd=list(filter(lambda x:x%2!=0,l))
print(even)
print(odd)

{2, 4}
[1, 3, 5]

In [56]:
#double your number and then find even numbers and store in list
l=[1,2,3,4,5]
double = list(map(lambda x:x*2,l))
print(double)
even = list(filter(lambda x:x%2==0,double))
print(even)

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

In [57]:
#Another method - double your number and then find even numbers and store in list
l=[1,2,3,4,5]
double = list(map(lambda x:x*2,l))
even = list(filter(lambda x:x%2==0,double))
print(even)

[2, 4, 6, 8, 10]

In [59]:
#sort strings
names = ["Vasudev", "Bhanupadmaja","Shailu"]
result = sorted(names, key=lambda x: len(x))
print(result)

['Shailu', 'Vasudev', 'Bhanupadmaja']

In [60]:
list1=[1,2,3]
list2=[3,2,1]
res=list(map(lambda x,y:x+y,list1,list2))
print(res)

[4, 4, 4]

In [67]:
user = [(6,3),(1,0),(2,10)]
#print(user.sort())
print(sorted(user))
print(sorted(user, key=lambda x:x[1]))

[(1, 0), (2, 10), (6, 3)]
[(1, 0), (6, 3), (2, 10)]

In [70]:
def mul():
  return lambda x: x*2
m = mul()
print(m(5))

10

In [74]:
n=1000
sp=2
cp=1
sat=100
total_sp=n*sp
total_cp=n*cp
profit=total_sp-total_cp
print(profit-sat)

900

In [75]:
n=int(input())
last_digit=n%1000
first_digit=n//1000
print(first_digit+last_digit)

1001
2

In [79]:
#n=60 divide each team into 8 players
n=int(input())
team=int(input())
rem=n%team
no_of_teams=n//team
print("Remaining players are:",rem)
print("Number of teams are:",no_of_teams)

60
8
Remaining players are: 4
Number of teams are: 7

In [88]:
p=int(input())
t=int(input())
r=int(input())

SI=(p*t*r)/100
print("{:.2f}".format(SI))

total=SI+p
print("{:.2f}".format(total))

discount=(SI*2)/100
print("{:.2f}".format(discount))

final = total- discount
print("{:.2f}".format(final))

100
1
10
10.00
110.00
0.20
109.80