<a href="https://colab.research.google.com/github/Shylu2005/T-P-2/blob/main/19-12-2025%20MORNING%20SESSION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
#Student Marks Analyzer
students = [
    {"name": "ravi", "marks": 65},
    {"name": "anu", "marks": 85},
    {"name": "kiran", "marks": 75},
    {"name": "meena", "marks": 88}
]
total_marks = sum(student["marks"] for student in students)
class_average = total_marks / len(students)
above_average_students = [student["name"] for student in students if student["marks"] > class_average]
print("Students who scored above class average:")
for name in above_average_students:
    print(name)

Students who scored above class average:
anu
meena

In [15]:
#Online Order Summary
orders={
    "item1":"Laptop",
    "item2":"Mobile",
    "item3":"Laptop",
    "item4":"tablet",
    "item5":"mobile",
    "item6":"Laptop"}
values=list(orders.values())
highest_max = max(values, key=values.count)
print(highest_max)

Laptop

In [18]:
#Hallow Square
for i in range(1,6):
    for j in range(1,6):
        if i==1 or i==5 or j==1 or j==5:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [23]:
n=int(input())
while n>= 10:
    sum=0
    while n>0:
        digit=n%10
        sum=sum+digit
        n=n//10
    n=sum
print(sum)

1234
1

In [41]:
#sum of 2 lists = print(same) else (not same)
n=int(input("Enter how many numbers in first list:"))
l1=[]
for i in range(n):
    l1.append(int(input()))
    sum1=0
    for i in l1:
        sum1+=i
print("Sum of first list is:",sum1)
m=int(input("Enter how many numbers in second list:"))
l2=[]
for i in range(n):
    l2.append(int(input()))
    sum2=0
    for i in l1:
        sum2+=i
print("Sum of second list is:",sum2)
if sum1==sum2:
    print("Same")
else:
    print("Not Same")

Enter how many numbers in first list:3
10
20
40
Sum of first list is: 70
Enter how many numbers in second list:3
20
20
10
Sum of second list is: 70
Same

In [34]:
#Calculate electricty bill based on units
#Inpu1:Bill Number
#Input2:Name
#Input3:Consuming units
#If units<=100 then the cost of a unit is Rs.1.20.
# If unit is <=300 then cost of first 100 units remains same.
# For remaining units cost of a unit is Rs.2.
# If unit is>=300 the first 100 and 200 units remain same for remaining units cost of a unit is 3

n1=int(input("Enter bill number:"))
n2=input("Enter name of consumer:")
n3=int(input("Enter no.of units consumed:"))
if n3<=100:
    cost=n3*1.20
elif n3<=300:
    cost=(n3-100)*2+(100*1.20)
else:
    cost = (100 * 1.20) + (200 * 2) + (n3 - 300) * 3
print(cost)

Enter bill number:1218
Enter name of consumer:shailu
Enter no.of units consumed:100
120.0

In [38]:
#Factorial of a number using recursion
def f(n):
  if n==1 or n==0:
    return 1
  else:
    return n*f(n-1)
n=int(input())
print(f(n))

5
120

In [40]:
#power of a number using recursion
def f(n,m):
  if m==0:
    return 1
  else:
    return n*f(n,m-1)
n=int(input())
m=int(input())
print(f(n,m))

2
3
8